<div id="mainRegistro" class="container-fluid mt-5 mb-5">
    <div class="w-75 m-auto registro shadow-lg">
        <div class="row">
            <p class="col-12 justify-content-center d-flex title-registro">Modificador De Usuario</p>
        </div>
        <div class="row ">
            <div class="col-6 d-none d-xl-block text-center my-auto">
                <h1 class="col-12 tittle-bienvenido">Bienvenido</h1>
                <img class="img-fluid w-xl-50 col-12 img-camion "
                    src="./../../../assets/img/190c447017303c654881ad49e85f4ad4.svg">
            </div>
            <div class="col-xl-6 col-12 ">
                <form [formGroup]="formGroup">
                    <div class="row col-12 inpustCenter">
                        <label for="nameUser" name="namelabel">Nombre *</label>
                        <mat-form-field class="width" appearance="fill">
                            <input type="text" id="nameInput" name="nombre" placeholder="Inserte su nombre"
                                formControlName="nombre" [(ngModel)]="user.nombre" matInput required>
                            <mat-error>Ingrese el Nombre [Mín 5 carácteres]</mat-error>
                        </mat-form-field>
                    </div>
                    <div class="row col-12 inpustCenter">
                        <label for="ApellidosUser" name="Apellidoslabel">Apellidos *</label>
                        <mat-form-field class="width" appearance="fill">
                            <input type="text" [(ngModel)]="user.apellidos" formControlName="apellidos"
                                placeholder="Inserte su apellido" name="apellidos" matInput required>
                            <mat-error>Ingrese el Apellido [Mín 5 carácteres]</mat-error>
                        </mat-form-field>
                    </div>
                    <div class="row col-12 inpustCenter">
                        <label for="CorreoUser" name="Correolabel">Correo Electrónico *</label>
                        <mat-form-field class="width" appearance="fill">
                            <input type="email" id="CorreoInput" [(ngModel)]="user.email" [(ngModel)]="passwd.email" formControlName="email"
                                name="email" matInput placeholder="example@example.es" required>
                            <mat-error>Ingrese Correctamente el Email</mat-error>
                        </mat-form-field>
                    </div>
                    <div class="row col-12 inpustCenter">
                        <label for="DNIUser" name="DNIlabel">DNI *</label>
                        <mat-form-field class="width" hintLabel="Máximo 9 características" appearance="fill">
                            <input matInput id="DNIinput" [(ngModel)]="user.dni" name="DNI" formControlName="DNI" #input
                                maxlength="9" placeholder="12345678X"  required/>
                            <mat-hint align="end">{{input.value.length}}/9</mat-hint>
                            <mat-error>Ingrese Correctamente el DNI</mat-error>
                        </mat-form-field>
                    </div>
                    <div class="row col-12 inpustCenter">
                        <label for="Telfuser" name="Telflabel">Telefono *</label>
                        <mat-form-field class="width" hintLabel="Máximo 9 características" appearance="fill">
                            <input type="number" id="Telfinput" formControlName="telefono" [(ngModel)]="user.telefono"
                                name="telefono" matInput #input placeholder="XXXXXXXXX" required>
                            <mat-error>Ingrese Correctamente el Teléfono, Recuerda 9 Carácteres</mat-error>
                        </mat-form-field>
                    </div>
                    <div class="row col-12 inpustCenter">
                        <label for="CalleUser" name="Callelabel">Ubicacion / Calle *</label>
                        <mat-form-field class="width" appearance="fill">
                            <input type="text" id="Calleinput" placeholder="Ej: C\Pedroso, Camas (Sevilla)"
                                formControlName="direccion" [(ngModel)]="user.direccion" name="direccion" matInput
                                required>
                            <mat-error>Ingrese Correctamente su Direccion</mat-error>
                        </mat-form-field>
                    </div>
                    <!---->
                    <p class="ms-5 pPaswd">Click en el boton para cambiar la contraseña</p>
                    <p class="ms-5 ms-lg-0 botonLogin" data-bs-toggle="modal" data-dismiss="modal"
                        data-backdrop="false" data-bs-target="#exampleModalPassword" class="ms-5 mb-3 cursor">Click Aqui</p>

                    <div class="modal fade" id="exampleModalPassword" tabindex="-1" aria-labelledby="exampleModalLabel"
                        aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5 m-auto"id="exampleModalLabel">
                                        Modificador Password
                                    </h1>
                                </div>
                                <div class="row col-12 inpustCenter">
                                    <label for="PasswdUser" name="Passwdlabel">Antigua Contraseña *</label>
                                    <mat-form-field class="" appearance="fill">
                                        <mat-label>Introduce tu contraseña</mat-label>
                                        <input matInput id="Passwdinput" [(ngModel)]="passwd.contrasenaAntigua" name="password"
                                            formControlName="password" [type]="hide ? 'password' : 'text'" required>
                                        <mat-error>Introduce Correctamente su contraseña</mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="row col-12 inpustCenter">
                                    <label for="PasswdRepeatUser" name="PasswdRepeatlabel">Confirmar Contraseña *</label>
                                    <mat-form-field class="" appearance="fill">
                                        <mat-label>Introduce tu contraseña</mat-label>
                                        <input matInput id="PasswRepeatdinput" [(ngModel)]="passwd.contrasenaActual"
                                            formControlName="ConfirmPassword" name="ConfirmPassword"
                                            [type]="hide ? 'password' : 'text'" required>
                                        <mat-error *ngIf="validatorInput('ConfirmPassword','MatchPassword')">
                                            Las contraseñas no coinciden</mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="row d-none" id="dangerWarningPasswd">
                                    <div class="alert alert-danger col-9 mt-3 mb-3 m-auto" role="alert">
                                        Introduzca Correctamente su Password por favor
                                    </div>
                                </div>
                                <div class="modal-footer m-auto">
                                    <button mat-raised-button (click)="changePasswd()">Confirmar Cambio de Contraseña</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!---->

                    <div class="row col-12 ms-xl-5 m-auto  inpustCenter mb-5">
                        <button  mat-raised-button color="primary" class="ms-xl-5 mt-5" class="buttonSubmit" (click)="registro()" type="submit">Confirmar
                            Cambios</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>