@font-face {
    font-family: 'RadioGrotesk';
    src: url('./../../../../assets/RadioGrotesk-Regular.otf') format("opentype");
}

h3{
    color:red;
}

.perfil-pop{
    width: 10%;
}

.navbar-toggler{
    background-color: #F8F4EA;
}

.botonLogin{
    width: 40%;
    height: 40px;
    border-radius: 15px;
    background-color: #D9D9D9;
}

*{
    font-family: "RadioGrotesk";
}

span{
    color: white;
    font-weight: bold;
    font-weight: 50px;   
}

.boton{
    max-width: 50%;
    min-width: 50%;
    max-height: 70px;
    background-color: #81d753;
}

nav{
    background-color: #579BB1;
}

.img-navigation{
    max-width: 60%;
    max-height: 150px;
}

.example-form {
    width: 80%;
  }
  
.example-full-width {
    width: 100%;
}

h3{
    cursor:default;
}

@media only screen and (min-width: 1000px){
    .botonLogin{
        width: 90%;
    }
    .boton{
        width: 100%;
    }
}

@media only screen and (max-width: 1400px){
    .boton{
        max-width: 110%;
    }
}

.mat-mdc-raised-button.mat-primary{
    --mdc-protected-button-container-color:#186988 !important;
}

p{
    cursor: pointer !important;
}
