@font-face {
    font-family: 'RadioGrotesk';
    src: url('./../../../assets/RadioGrotesk-Regular.otf') format("opentype");
}

footer{
    background-color: #ebe2ce;
}


*{
    font-family: "RadioGrotesk";
}

img{
    width: 7%;
}

.letraGrande{
    font-size: 45px;
}

.letrasInfo{
    font-size: 20px;
}

.borde{
    border-left: 2px solid rgba(0, 0, 0, 0.533);
    border-right: 2px solid rgba(0, 0, 0, 0.533);
    border-top: none;
    border-bottom: none;
}

@media only screen and (max-width: 1164px){

    img{
        width: 10%;
    }
}