<div class="container-fluid">
  <div class="mt-5 mainLogin m-auto mb-5">
    <div class="row">
      <div class="col-12 text-center">
        <img src="./../../../assets/img/190c447017303c654881ad49e85f4ad4.svg" class="img-fluid imagen">
      </div>
    </div>
    <div class="row">
      <h1 class="text-center">LOGIN</h1>
    </div>
    <hr class="m-auto">
    <div class="row mt-5">
      <form [formGroup]= "formLogin" (submit)="login()">
        <div class="row justify-content-center">
          <div class="col-12 text-center">
            <label for="CorreoUser" name="Correolabel">Correo Electrónico</label>
          </div>
          <div class="row col-12 col-lg-6">
            <mat-form-field class="width" appearance="fill">
              <mat-label>Introduce tu Email</mat-label>
              <input type="email" id="CorreoInput" [(ngModel)] = "user.email" formControlName="email" name="email" matInput placeholder="example@example.es" required>
              <mat-error>Ingrese Correctamente el Email</mat-error>
            </mat-form-field>
          </div>
        </div>
          <!--Password-->
        <div class="mb-4 row justify-content-center">
          <div class="col-12 text-center">
            <label for="CorreoUser" name="Correolabel">Contraseña</label>
          </div>
          <div class="row col-12 col-lg-6">
              <mat-form-field class="width" appearance="fill">
                <mat-label>Introduce tu contraseña</mat-label>
                <input matInput id="Passwdinput" [(ngModel)] = "user.contrasena" name="password" placeholder="Xxxxx12." formControlName="password" [type]="hide ? 'password' : 'text'" required>
                <mat-error>Introduce Correctamente su contraseña</mat-error>
              </mat-form-field>
          </div>
        </div>
        <!-- <ng-container *ngIf= "login">
          {{login()}}
        </ng-container> -->
        <div class="row">
          <p class="olvpswd text-center">¿Has olvidado tu contraseña?</p>
        </div>
        <div class="modal-footer  mt-4">
          <button id="boton" class="boton p-2 m-auto">Login</button>
        </div>
        <div class="text-center mb-5">
          <p>No estas registrado?<a href="/register"> Registrate!</a></p>
        </div>
      </form>
    </div>
  </div>
</div>