@font-face {
    font-family: 'RadioGrotesk';
    src: url('./../../../assets/RadioGrotesk-Regular.otf') format("opentype");
}

*{
    font-family: "RadioGrotesk";
}

.imagen{
    max-width: 40%;
    min-width: 30%;
}

.mainLogin{
    border-radius: 20px;
    max-width: 40%;
    background-color: #F8F4EA;
}

hr{
    width: 50%;
}

.modal{
    --bs-modal-bg: #F8F4EA;
}

.olvpswd{
    font-size: 15px;
    color: rgb(111, 162, 237);
}

.boton{
    width: 200px;
    background-color: #73A9BF;
    font-size: 22px;
}

.btn-primary{
    --bs-btn-bg: #D9D9D9;
    --bs-btn-color: #000000;
    --bs-btn-border-color: none;
}

@media only screen and (max-width: 1100px){
    .mainLogin{
        max-width: 80%;

    }
}

.mat-mdc-raised-button.mat-primary{
    --mdc-protected-button-container-color:#186988 !important;
    --mdc-protected-button-label-text-color: black !important;
}

.credentails{
    display: block !important;
}