@font-face {
    font-family: 'RadioGrotesk';
    src: url('./../../../../../assets/RadioGrotesk-Regular.otf') format("opentype");
    font-family: 'Material Icons';
    src: url(https://example.com/MaterialIcons-Regular.eot);
}

.material-icons {
    font-family: 'Material Icons';
}

*{
    font-family: "RadioGrotesk";
}

button{
    background-color: #73A9BF;
}

.divTractora{
    border: 1px solid black;
    border-radius: 5px;
}

.mat-mdc-raised-button.mat-primary{
    --mdc-protected-button-container-color:#186988 !important;
}

.mat-mdc-checkbox.mat-accent{
    --mdc-checkbox-selected-icon-color: #186988 !important;
    --mdc-checkbox-selected-hover-icon-color: #186988 !important;
    --mdc-checkbox-selected-pressed-icon-color:#186988 !important;
    --mdc-checkbox-selected-focus-icon-color: #537c8d !important;
}

.img-veh{
    border-radius: 5px;
    height: fit-content;
}