.registro{
    border: 2px solid black;
    background-color: #f7f0dd;

}

.title-registro{
    font-size: 70px;
}

.tittle-bienvenido{
    font-size: 50px;
}

.img-camion{
    max-width: 20vw;
}

button{
    width: 60%;
    height: 50px;
    background-color: #73A9BF;
    font-weight: bold;
    font-size: 20px;
}
