<div class="container">
    <div class="row justify-content-evenly mt-5">
        <div class="col-6 text-center">
            <h3>Elección</h3>
            <img class="bola" src="./../../../assets/img/bolaPasada.png" alt="orientacionSeguimiento1">
        </div>
        <div class="col-6 text-center">
            <h3>Datos</h3>
            <img class="bola" src="./../../../assets/img/bolaPasada.png" alt="orientacionSeguimiento1">
        </div>
    </div>
    <div class="row mt-4">
        <form [formGroup]= "formRemolque" (submit)="ingresarRemolque()" class="col-12 text-center">
            <div class="row">
                <div class="col-6 col-lg-4">
                    <label for="marcaTractora" name="marcaLabel">Marca *</label><br>
                    <mat-form-field class="width" appearance="fill">
                        <input type="text" id="marcaInput" [(ngModel)] = "semiremolque.Marca" formControlName="marca" name="marca" matInput placeholder="Inserte la marca Por Favor..." required>
                        <mat-error>Ingrese Correctamente la Marca</mat-error>
                    </mat-form-field>
                </div>
                <div class="col-6 col-lg-4">
                    <label for="modeloTractora" name="modeloLabel">Modelo *</label><br>
                    <mat-form-field class="width" appearance="fill">
                        <input type="text" id="modeloInput" [(ngModel)] = "semiremolque.modelo" formControlName="modelo" name="modelo" matInput placeholder="Inserte el modelo Por Favor..." required>
                        <mat-error>Ingrese Correctamente el Modelo</mat-error>
                    </mat-form-field>
                </div>
                <div class="col-12 col-lg-4">
                    <label for="matriculaTractora" name="matriculaLabel">Matricula *</label><br>
                    <mat-form-field class="width" appearance="fill">
                        <input type="text" id="matriculaInput" [(ngModel)] = "semiremolque._id" [(ngModel)] = "semiremolque.idVehiculo" [(ngModel)] = "semiremolque.vehiculo" formControlName="_id" name="matricula" matInput placeholder="Inserte la Matricula Por Favor..." required>
                        <mat-error>Ingrese Correctamente la Matricula</mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-6 col-lg-4">
                    <label for="marcaTractora" name="marcaLabel">MMA (Peso Máximo) *</label><br>
                    <mat-form-field class="width" appearance="fill">
                        <input type="text" id="mmaInput" [(ngModel)] = "semiremolque.mma" formControlName="mma" name="mma" matInput placeholder="Inserte el MMA Por Favor..." required>
                        <mat-error>Ingrese Correctamente el Peso</mat-error>
                    </mat-form-field>
                </div>
                <div class="col-6 col-lg-4">
                    <label for="AnoMatriculaTractora" name="AnoMatriculalabel">Año Matriculacion *</label><br>
                    <mat-form-field class="width" appearance="fill">
                        <input matInput id="AnoMatriculaInput" [(ngModel)] = "semiremolque.fechaMatriculacion" formControlName="fechaMatriculacion" name="fechaMatriculacion" matInput placeholder="Inserte la Fecha de Matriculación Por favor..." required [matDatepicker]="picker">
                        <mat-hint>MM/DD/YYYY</mat-hint>
                        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                        <mat-error>Ingrese Correctamente la Fecha de Matrículacion</mat-error>
                    </mat-form-field>
                </div>
                <div class="col-12 col-lg-4">
                    <label for="colorTractora" name="colorLabel">Color *</label><br>
                    <mat-form-field class="width" appearance="fill">
                        <input type="text" id="colorInput" [(ngModel)] = "semiremolque.color" formControlName="color" name="color" matInput placeholder="Inserte el Color Por Favor..." required>
                        <mat-error>Ingrese Correctamente el Color</mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-6 col-lg-4">
                    <label for="EjesTractora" name="EjesLabel">Ejes *</label><br>
                    <mat-form-field class="width" appearance="fill">
                        <input type="text" id="EjesInput" [(ngModel)] = "semiremolque.ejes" formControlName="ejes" name="ejes" matInput placeholder="Inserte los ejes Por Favor..." required>
                        <mat-error>Ingrese Correctamente los ejes</mat-error>
                    </mat-form-field>
                </div>
                <div class="col-6 col-lg-4">
                    <label for="tipoRemolqueTractora" name="tipoRemolqueLabel">Tipo Semiremolque *</label><br>
                        <mat-form-field class="width" appearance="fill">
                            <mat-label>Inserte el tipo de SemiRemolque Por favor...</mat-label>
                            <mat-select id="EjesInput"  [(ngModel)] = "semiremolque.tipoSemiremolque" formControlName="tipoSemiremolque" name="tipoSemiremolque" matInput required>
                              <mat-option value="Diesel" >Lonas</mat-option>
                              <mat-option value="Gasolina" >Frigos</mat-option>
                              <mat-option value="Eléctrico" >Furgones</mat-option>
                              <mat-option value="Gas" >Plataformas</mat-option>
                              <mat-option value="Gas" >PortaContenedores</mat-option>
                              <mat-option value="Gas" >Basculantes</mat-option>
                            </mat-select>
                            <mat-error>Ingrese Correctamente el SemiRemolque</mat-error>
                        </mat-form-field>
                </div>
                <div class="col-12 col-lg-4">
                    <label for="tipoRemolqueTractora" name="tipoRemolqueLabel">Tipo Eje*</label><br>
                        <mat-form-field class="width" appearance="fill">
                            <mat-label>Inserte el combustible Por favor...</mat-label>
                            <mat-select id="EjesInput"  [(ngModel)] = "semiremolque.tipoEje" formControlName="tipoEje" name="tipoEje" matInput required>
                              <mat-option value="Eje Direccional">Eje Direccional</mat-option>
                              <mat-option value="Eje Normal">Eje Normal</mat-option>
                            </mat-select>
                            <mat-error>Ingrese Correctamente el Eje</mat-error>
                        </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-lg-4">
                    <label for="RetarderTractora" name="Retarderlabel">ADR *</label><br>
                    <input type="checkbox" id="ADRInput" [(ngModel)] = "semiremolque.ADR" formControlName="ADR" name="ADR" required/>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-6 col-lg-4">
                    <label for="PrecioTractora" name="Preciolabel">Precio SemiRemolque *</label><br>
                    <mat-form-field class="width" appearance="fill">
                        <input type="Number" id="PrecioInput" [(ngModel)] = "semiremolque.precio" formControlName="precio" name="precio" matInput placeholder="Inserte el Precio Por favor..." required>
                        <mat-error>Ingrese Correctamente el Precio</mat-error>
                    </mat-form-field>
                </div>
                <div class="col-6 col-lg-4">
                    <label for="TituloPostTractora" name="Titulolabel">Titulo Post *</label><br>
                    <mat-form-field class="width" appearance="fill">
                        <input type="text" id="tituloInput" [(ngModel)] = "semiremolque.titulo" formControlName="titulo" name="titulo" matInput placeholder="Inserte el Titulo Por favor..." required>
                        <mat-error>Ingrese Correctamente el Titulo</mat-error>
                    </mat-form-field>
                </div>
                <div class="col-12 col-lg-4">
                    <label for="TipoPublicacionTractora" name="TipoPublicacionlabel">Tipo Publicación *</label><br>
                    <mat-form-field class="width" appearance="fill">
                        <mat-label>Inserte el tipo de publicación Por favor...</mat-label>
                        <mat-select id="TipoPublicacionInput" [(ngModel)] = "semiremolque.tipo_publicacion" formControlName="tipo_publicacion" name="tipoPublicacion" matInput required>
                          <mat-option value="Alquilar">Alquilar</mat-option>
                          <mat-option value="Vender">Vender</mat-option>
                        </mat-select>
                        <mat-error>Ingrese Correctamente el Tipo de Publicación</mat-error>
                      </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <label for="ImagenTractora" name="Imagenlabel">Selecciona tus imagenes*</label><br>
                    <input type="file" (change)="imagenesChange($event)" class="m-auto" id="ImagenesInput" name="imagenesTractora" placeholder="Inserte las Imagenes Por favor..." required>
                </div>
            </div>
            <div class="row mt-5 mb-5">
                <div class="col-12">
                    <button mat-raised-button type="submit" class="botonEnviar"><span>!Publicar!</span></button>
                </div>
                <div class="col-12">
                    <div class="alert alert-danger col-6 mt-3 mb-3 m-auto d-none" id="dangerWarning" role="alert">
                        Tractora no Introducida, la matrícula ya está ingresada en nuestra Base de Datos
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>