@font-face {
    font-family: 'RadioGrotesk';
    src: url('./../../../../../assets/RadioGrotesk-Regular.otf') format("opentype");
}

*{
    font-family: "RadioGrotesk";
}

.imagenVehiculo{
    border-radius: 6px;
    max-height: 900px;
}

.inline{
    display: inline-block;
}

.imgPerfil{
    width: 10%;
}

.borderInformacion{
    border: 1px solid black;
    border-radius: 5px;
    border-color: #579BB1;
}

button{
    background-color: #73A9BF !important;
    font-weight: bold;
    font-size: 30px;
    font-family: "RadioGrotesk";
}