@font-face {
    font-family: 'RadioGrotesk';
    src: url('./../../../../../assets/RadioGrotesk-Regular.otf') format("opentype");
}

*{
    font-family: "RadioGrotesk";
}

button{
    background-color: #73A9BF;
}

.divTractora{
    border: 1px solid black;
    border-radius: 5px;
}

.mat-mdc-snack-bar-container .mat-mdc-button.mat-mdc-snack-bar-action:not(:disabled){
    color: var(#fff, transparent) !important;
}