@font-face {
    font-family: 'RadioGrotesk';
    src: url('./../../../../../assets/RadioGrotesk-Regular.otf') format("opentype");
}

*{
    font-family: "RadioGrotesk";
}

.divTractora{
    border: 1px solid black;
    border-radius: 5px;
}

.mat-mdc-snack-bar-container .mat-mdc-button.mat-mdc-snack-bar-action:not(:disabled){
    color: var(#fff, transparent) !important;
}

.img-veh{
    border-radius: 5px;
    height: fit-content;
}

.mat-mdc-raised-button.mat-primary{
    --mdc-protected-button-container-color:#186988 !important;
}