<div class="container">
    <div class="row">
        <div class="col-12 d-flex justify-content-end mt-3">
            <button (click)="getPostCompraTractora()" class="botonFiltro p-2">Compra</button>
            <button (click)="getPostAlquilerTractora()" class="botonFiltro ms-3 p-2">Alquiler</button>
        </div>
    </div>
    <div class="row">
        <div class="col-2 filtros">
            FILTROS
        </div>
        <div class="col-10">
            <div class="divTractora mt-3 mb-5" *ngFor="let Tractoras of arraydatos">
                <div class="row">
                    <div class="col-3 mt-3">
                        <img class="img-fluid" src="{{Tractoras.media}}" alt="img">
                    </div>
                    <div class="col-8">
                        <div class="row">
                            <div class="col-12 mt-3">
                                <h4>{{Tractoras.titulo}}</h4>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-1">
                                <img src="./../../../../../assets/img/image 10.png" class="img-fluid"
                                    alt="imagen-localizador">
                            </div>
                            <div class="col-11">
                                <h4>{{Tractoras.informacionUser[0].idUsuarioVendedor.direccion}}</h4>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-6">
                                <h4>{{Tractoras.informacionUser[0].idVehiculo.precio}}€</h4>
                            </div>
                            <div class="col-6 d-flex mb-3 justify-content-end">
                                <button routerLink="/informacionDetalladaVehicle/{{Tractoras._id}}"
                                    class="botonFiltro p-2" (click)="idBoton(Tractoras.titulo)"
                                    id={{Tractoras.titulo}}>Contactar</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-1 mt-3">
                        <img mat-stroked-button name="{{Tractoras._id}}" (click)="agregarFavoritos($event.target.name)"
                            src="./../../../../../assets/img/image 11.png" alt="Likes">
                        <span>{{Tractoras.likes.length}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>