img{
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

.fondoColor{
    background-color: #E1D7C6;
}

.negrita{
    font-weight: bold;
}

.ultimaFila{
    border-bottom-left-radius: 30px;    
    border-bottom-right-radius: 30px;    
}