<div class="container">
    <div class="row d-none d-lg-block col-12">
        <app-slider-noticias></app-slider-noticias>
    </div>
    <div class="row d-flex justify-content-around">
        <div class="col-12 col-lg-5 eleccion mt-5 text-center mb-5" routerLink="/informacionAllTractoras">
            <div class="m-5">
                <h1>Cabezas<br>Tratoras</h1>
            </div>
            <div class="mt-5">
                <img src="./../../../assets/img/cabezaTractoraIcon.png" alt="logo-tractora">
            </div>
            <div class="mt-5">
                <p class="contador">{{contadorTractora}}</p>
            </div>
        </div>
        <div class="col-12 col-lg-5 ms-2 eleccion mt-5 text-center mb-5"  routerLink="/informacionAllSemiRemolques">
            <div class="m-5">
                <h1>Semi-<br>Remolques</h1>
            </div>
            <div class="mt-5">
                <img src="./../../../assets/img/remolque.png" alt="logo-remolque"/>
            </div>
            <div class="mt-5">
                <p class="contador">{{contadorRemolque}}</p>
            </div>
        </div>
    </div>
    <hr class="mt-5 mb-5">
    <div class="row">
        <div class="row">
            <h1 class="text-center">Te Puede Interesar...</h1>
        </div>
        <div class="row justify-content-center mt-5">
            <div class="col-7 col-xl-3 m-2 m-lg-5 borde primeraFila ultimaFila mb-5" *ngFor="let informacion of arraydatos">
                <div class="row ">
                    <div class="col-12 p-0">
                        <img src="{{informacion.media}}"  class="img-fluid primeraFila" alt="">
                    </div>
                    <div class="col-12 background text-center">
                        <p class="mt-3 mb-5 titulo">{{informacion.titulo}}</p>
                    </div>
                    <div class="col-12 d-flex justify-content-center background ultimaFila">
                        <button mat-raised-button class="mb-5" color="primary" routerLink="/informacionDetalladaVehicle/{{informacion._id}}">Ir Publicacion</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr class="mt-5 mb-5">
    <div class="row">
        <div class="col-12">
            <h1 class="text-center">¿Por qué tendrán muchos favoritos?</h1>
        </div>
        <div class="col-12 mb-5">
            <div class="row justify-content-center mt-5">
                <div class="col-7 col-xl-3 m-2 m-lg-5 borde primeraFila ultimaFila mb-5" *ngFor="let informacion of arraydatosLikes">
                    <div class="row ">
                        <div class="col-12 p-0">
                            <img src="{{informacion.media}}"  class="img-fluid primeraFila" alt="">
                        </div>
                        <div class="col-12 background text-center">
                            <p class="mt-3 mb-4 titulo">{{informacion.titulo}}</p>
                        </div>
                        <div class="col-12 background">
                            <div class="row justify-content-center mb-3">
                                <div class="col-2">
                                    <img src="./../../../../../assets/img/image 11.png" class="img-fluid" alt="">
                                </div>
                                <div class="col-2 d-flex justify-content-">
                                    <p>{{informacion.likes.length}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 d-flex justify-content-center background ultimaFila">
                            <button mat-raised-button class="mb-5" color="primary" routerLink="/informacionDetalladaVehicle/{{informacion._id}}">Ir Publicacion</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

