@font-face {
    font-family: 'RadioGrotesk';
    src: url('./../../../../../assets/RadioGrotesk-Regular.otf') format("opentype");
}

*{
    font-family: "RadioGrotesk";
}

.eleccion:hover{
    transform: scale(1.02);

}

.eleccion{
    min-height: 500px;
    border-radius: 5px;
    border: 1px solid #579BB1;
    background-color: #E1D7C6;
    transition: 0.3s ease-in-out;
}

.contador{
    font-size: 30px;
}

hr{
    border: 1px solid black;
}

.borde{
    border: 1px solid black;
}

.primeraFila{
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

.ultimaFila{
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

.background{
    background-color: #E1D7C6;
}

.titulo{
    font-size: 18px;
}

.mat-mdc-raised-button.mat-primary{
    --mdc-protected-button-container-color:#186988 !important;
    --mdc-protected-button-label-text-color: rgb(255, 255, 255) !important;
}